div{
  background-color: #22223B;
  height: 130px;
}

.container-fluid {
  width: 100%;


}
.buttom_row{
  position: fixed;
  align-content: center;
  max-width: 100%;

  color: white;
}
.popupWindow{
  position: fixed;
  right: 180px;
  top: 20px;
  color: white;
}
