<!--<div class="navbar  navbar-expand-sm" role="navigation">
  <div class="buttom_row">
  <div class="container-fluid" >

  <img src="../../assets/fargsvart.png" width="100px" height="100px" alt="Högskolan i gävle">
    <a href="index.html"></a>

      <button mat-raised-button color="primary">akademi</button>
      <button mat-raised-button color="primary">hus</button>
      <button mat-raised-button color="primary">våning</button>
      <button mat-raised-button color="primary">rum</button>
    </div>
  </div>
</div>-->
{{xmlData}}
