<div class="navbar  navbar-expand-sm" role="navigation">

  <div class="buttom_row">
    <div class="container-fluid">

      <img src="../../assets/fargsvart.png" width="100px" height="100px" alt="Högskolan i gävle">
      <a href="index.html"></a>

      <button mat-raised-button color="primary" (click)="onSwitchAkademi()" >akademi</button>
      <button mat-raised-button color="primary" (click)="onSwitchHus()">hus</button>
      <button mat-raised-button color="primary"(click)="onSwitchLevel()">våning</button>
      <button mat-raised-button color="primary" (click)="onSwitchRoom()">rum</button>
    </div>
  </div>
</div>

