div{
  background-color: #22223B;
  height: 60px;
}

.container-fluid {
  position: relative;
  width: 100%;

}
.buttom_row{
  position: center;
  padding: 10px;
  max-width: 100%;

  color: white;
}


