.beforeClick{
  background: #eee;
}
.scroll{

}
.sök{
  margin-top: 15px;
}
#outsideDiv{
  max-height: 500px;
}
#dataColor{
  padding: 3px;
  margin: 3px;

}
#outsideDiv{
  max-height: 500px;
}
.ruta{
  background: #ffdd00;
}
