.graph_height {
  height: 800px;
}
.info{
  text-align: center;
  color: #242627;
  margin-left: 40px;
  margin-right: 40px;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 40px;

}
.calender{
  margin-top: 10px;
}
