<h1> Instruktioner för användning av statestik online verktyg för Gävle Högskola.</h1>
<p style="color: red">1. Välj vad man vill söka på alternativen är akademi, våning, hur och rum detta görs högst upp till vänster på
  hemsidan. <br>
  2. Väljer man i söklistan vad man vill ska filtreras ut och klickar i de alternativ som man vill ha med.<br>
  3. Välj datum till höger på sidan och de alternativ som man vill ha med, när de alternativ som man vill använda sig av
  är valda vänta tills det blinkande ljuset slutar att blinka.<br>
  4. Sedan väljer man en graf som man vill titta på, alternativ bokningsbeteende eller Användningskostnad.<br>
  5. Sedan går det att läsa av vad som står i graferna.<br>
  6. Graf: Användningskostnad X-axeln är Priset och y-axeln den totala kostnaden.<br>
  7. Graf: bokningsbeteende röd betyder dålig bokning och gul betyder ganska bra bokning men bokningen går att
  förbättra. Blå bokning betyder att bokningen är perfekt och inga konstigheter finns.<br>
  8. Under grafen så kan man se bokande och ej bokade timmar i procent och i en statistisk siffra. Samt så kan man se
  kostnaden i siffor form och i procent.<br>
  9. För att skriva ut grafen om sådana behövs så finns det en knapp uppe till höger vid grafen.</p>
<div class="row">
  <div class="col">
    <h4>Rum som inte inkluderas</h4>
    <ul>
      <li>11:318</li>
      <li>12:104</li>
      <li>51:516</li>
      <li>51:518</li>
      <li>51:519</li>
      <li>51:523b</li>
      <li>51:523c</li>
      <li>51:523d</li>
      <li>81:203a</li>
      <li>99:523</li>
      <li>99:524</li>
    </ul>
  </div>
  <div class="col">

  </div>
</div>
