<app-header></app-header>
<app-mini-header></app-mini-header>
<div class="bottom-part">
  <div class="d-flex flex-row bd-highlight mb-3">
  <router-outlet class="align-items-start m-0 p-0 justify-content-start"></router-outlet>
    <ng-container [ngSwitch]="componentName">
      <app-start *ngSwitchDefault></app-start>
      <app-price-graph *ngSwitchCase="'Bokningsbeteende'" class=" d-flex align-items-center justify-content-center"></app-price-graph>
      <app-behavior-graph *ngSwitchCase="'Användningskostnad'" class=" d-flex align-items-center justify-content-center"></app-behavior-graph>
    </ng-container>
    <app-time-filters class="align-items-end justify-content-end"></app-time-filters>
  </div>
    <app-quan-data></app-quan-data>
  <app-footer></app-footer>
</div>
<app-testing></app-testing>


