<app-header></app-header>
<app-mini-header></app-mini-header>
<app-graph-sorting class="ml-10"></app-graph-sorting>
<div class="bottom-part d-flex flex-column min-vh-95">
  <div class="d-flex flex-row bd-highlight mb-3">
    <ng-container [ngSwitch]="filterSwitch.selectedComponent" class="align-items-start m-0 p-0 justify-content-start" >
      <app-akademi *ngSwitchCase="'academy'"></app-akademi>
      <app-hus *ngSwitchCase="'house'"></app-hus>
      <app-level *ngSwitchCase="'floor'"></app-level>
      <app-room *ngSwitchCase="'room'"></app-room>
    </ng-container>
    <ng-container [ngSwitch]="componentName">
      <app-start *ngSwitchDefault class="info"></app-start>
      <app-documentations *ngSwitchCase="'documentation'" class="info"></app-documentations>
      <app-about *ngSwitchCase="'about'" class="info"></app-about>
      <app-behavior-graph *ngSwitchCase="'Bokningsbeteende'"
                          class=" d-flex align-items-center justify-content-center flex-fill"></app-behavior-graph>
      <app-price-graph *ngSwitchCase="'Användningskostnad'"
                       class=" d-flex align-items-center justify-content-center flex-fill"></app-price-graph>
    </ng-container>
    <app-time-filters class="align-items-end justify-content-end"></app-time-filters>
  </div>

</div>
<div class="mt-auto">
  <app-quan-data></app-quan-data>
  <app-footer></app-footer>
</div>
<app-testing></app-testing>


