<div class="hoger">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Välj ett datum</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onUpdate($event)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    Välj en period: <br>
    <mat-radio-group>
      <mat-radio-button *ngFor="let list of list" (click)="onSelect(list)" color="warn">
        {{list}}
      </mat-radio-button>
    </mat-radio-group>
    <br>
    Välj timmar eller kostnad: <br>
    <mat-radio-group>
      <mat-radio-button *ngFor="let time of calcOptions" (click)="onCalcSelect(time)" color="warn">
        {{time}}
      </mat-radio-button>
    </mat-radio-group>
    <div [hidden]="isHidden">
      <!--Loader Div Starts-->
      <div class="spinner-grow text-primary" style="width: 1rem; height: 1rem;" role="status" *ngIf="loader">
        <br>
        Vänligen vänta
      </div>

      <!--Loader Div Ends-->
      <div class="container-fluid bg-image" *ngIf="!loader">
        <h3 class="text-primary">Vänligen välj graf</h3>
      </div>
    </div>
  </div>
</div>
