<div>
<h2>Om</h2>
<p>
  Välkommen till vår hemsida som visar statistik över bokade lokaler på Högskolan i Gävle! Syftet med denna webbplats
  är att ge en överblick över hur bokning av lokaler på högskolan fördelas över tid och kursers bokningsbeteende av
  samma sal. På så sätt kan man få en bättre uppfattning om vilka lokaler som står tomma eller de lokaler som ofta
  bokas på ett ineffektivt sätt.
</p>
<p>
  Här på webbplatsen kan du se statistik över hur ofta olika lokaler bokas, och hur mycket det som de bokade och obokade
  lokalerna kostar. Samt hur många timmar som lokaler är bokade och obokade under den valda tidsperioden.
</p>
<p>
  Vi hoppas att du kommer att ha nytta av vår webbplats och att den kan hjälpa till att få en uppfattning om hur
  lokalerna används och vara en grund till diskussioner kring lokaler på  högskolan i Gävle.
</p>
<p>
  Tack för att du besöker vår sida!
</p>
<h5>Vi som har arbetat med sidan är: </h5>
<ul class="align-items-center justify-content-center">
  <li>Jennifer Streit</li>
  <li>Ann Johansson</li>
  <li>Adam Chabchoub</li>
  <li>Oliver Jonsson</li>
  <li>Mohamad Safia</li>
</ul>
</div>
