.miniHeader{
  background-color: #242627;
  height: auto;
  width: auto;
  text-align: center;
  font-size: 20px;
  position: relative;
}
#line{
  height: 6px;
  width: auto;
  padding: 0px;
  margin: 0px;
}

.item{
  color:white;
  font-weight: bold;
  font-family: "Helvetica Neue";
  font-size: medium;
}
